$global-font : "Cairo", sans‑serif;
$global‑background: whitesmoke;

$color-main: #232F3E;
$color-point: #FCA311;
$color-text-bright: #dddddd;
$color-text-dark: #313131;
$color-border: #E5E5E5;
$color-success: #A7C957;
$color-fail: #F3722C;
