$global-font : "Cairo", sans‑serif;
$global‑background: whitesmoke;

$color-main: #14213D;
$color-point: #FCA311;
$color-text: #8D99AE;
$color-border: #E5E5E5;
$color-success: #A7C957;
$color-fail: #F3722C;
