@import "styles/variables";

.signinForm {    
    width: 80%;

    .inputSection { 
        display: flex;
        flex-direction: column;
        gap: '30px';
    }

    .buttonSection {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin: 20px 0px;
    }
}
