@import "./styles/variables";

.outletWrapper {
    background-color: $global‑background;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}